{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">GHANI <span>Academy</span></h1>
            <hr class="page-title-break"/>
            <h2 class="page-description">{{@blog.description}}</h2>
            <p class="i18n">বাংলার জন্য <a class="read-more" href="http://ghaniacademy.github.io/bn/">ক্লিক্‌</a> করুন</i>
            <address>
              House-194,  Road no-9/4,  Block-E,  South Banasree   Dhaka-1219 Phone: 8801911323711
            </address>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    <article class="{{post_class}}">
      <header class="post-header">
        <h2 class="post-title">Open Discussions</h2>
      </header>
      <section class="post-content">
        <p>Current topic is <strong>How to improve the education system in Bangladesh</strong></p>
        <div class="fb-comments" data-width="650" data-href="http://ghaniacademy.github.io" data-numposts="5" data-order-by="reverse_time"></div>
      </section>
    </article>
</main>
